.errorlist li {
  color: rgb(220, 53, 69);
  font-weight: bold;
  font-size: 14px;
}

.helptext {
  display: inline-block;
  margin-top: 10px;
}

#id_remember,
label[for="id_remember"] {
  display: none;
}

.login-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.registration-form {
  font-size: 14px;
}

.registration-form input {
  font-size: inherit;
}
